.product-list {
    margin-bottom: 20px;
}

.product-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
}

.product-info {
    flex-grow: 1;
}

.product-quantity {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.product-count {
    display: flex;
    align-items: center;
}

.product-image {
    margin-left: 10px;
}

.order-summary {
    text-align: right;
}

.total-price {
    display: flex;
    align-items: center;
}

.total-price p {
    margin-right: 10px;
}