
.card-deck .card {
    transition: all 0.4s;
}

.card-deck .card:hover {
    opacity: 1;
    transform: scale(1.02);
}

.card-deck:hover .card:not(:hover) {
    opacity: 0.5;
    transform: scale(0.9);
}

.card-deck .card.selected {
    opacity: 1;
    transform: scale(1.02);
}

.btn-primary {
    background-color: #8c034e;
}

.btn-primary:hover {
    background-color: #4d052c;
}
